{include file="header.html"}
<script type="text/javascript">
//<!CDATA[
$(function(){
    $('#share_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        rules : {
            title : {
                required : true,
                maxlength: 100
            },
            link  : {
                required : true
            },
            logo  : {
                accept : 'png|jpe?g|gif'
            },
            sort_order : {
                number   : true
            }
        },
        messages : {
            title : {
                required : '{$lang.title_required}',
                maxlength: '{$lang.title_maxlength_error}'
            },
            link  : {
                required : '{$lang.link_required}'
            },
            logo  : {
                accept   : '{$lang.logo_accept_error}'
            },
            sort_order  : {
                number   : '{$lang.number_only}'
            }
        }
    });
});
//]]>
</script>
<div id="rightTop">
    <p>广告管理</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=adv">{$lang.manage}</a></li>
        <li><a class="btn1" href="index.php?app=adv&amp;act=add">{$lang.add}</a></li>
		<li><a class="btn1" href="index.php?app=adv&amp;act=type_add">增加类型</a></li>
		<li><span>类型管理</span></li>
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="share_form">
        <table class="infoTable">
		
           
            <tr>
                <th class="paddingT15">
                    广告类型:</th> 
                <td class="paddingT15 wordSpacing5">
                   <input class="infoTableInput2" id="type" type="text" name="type" value="{$adv_row.type|escape}" />   
                </td>
            </tr>
        <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
