{include file="header.html"}
<div id="rightTop">
    <p>投诉管理</p>
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <li><a class="btn1" href="index.php?app=tousu&amp;act=ts_weishenhe">投诉未审核</a></li>
    </ul>
</div>
<div class="mrightTop">
  <div class="fontl">
    
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $comp}-->
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td>投诉人</td>
      <td>被投诉人</td>
      <td>投诉主题</td>
	  <td>投诉时间</td>
	  <td>投诉状态</td>
	  <td>备注</td>
	  <td>所属站</td>
      <td class="handler">{$lang.handler}</td>
    </tr>
    <!--{/if}-->
	
    <!--{foreach from=$comp item=val}-->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" class="checkitem" value="{$val.id}" /></td>
      <td>&nbsp;{$val.complainant}</td>
      <td>&nbsp;{$val.respondent}
	  </td>
      <td>&nbsp;{$val.title}</td>
      <td>&nbsp;{$val.time}</td>
	  <td>&nbsp;
	  <!--{if $val.status1==0}-->{$lang.status0}<!--{/if}-->
	  <!--{if $val.status1==1}-->{$lang.status1}<!--{/if}-->
	  </td>
	  <td>&nbsp;{$val.beizhu}</td>
	  <td>&nbsp;
	  {$val.city_name}
	 </td>
      <td class="handler">
      <span style="width: 100px">
	  <center>
      <!--<a href="index.php?app=tousu&amp;act=ts_edit&amp;id={$val.id}">{$lang.edit}</a>||-->
	   <a href="index.php?app=tousu&amp;act=ts_xiangqing&amp;id={$val.id}&order_id={$val.order_id}">{$lang.chakan}</a>||
	    <a href="index.php?app=tousu&amp;act=drop&amp;id={$val.id}" onclick="confirm('{$lang.drop_confirm}')">
	  {$lang.drop}</a>
	 
      </center>  
      </span>
      </td>
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
	
	
	
  </table>
  
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
	<!--{if $users}-->
    <input type="checkbox" class="checkall" />
      <input class="formbtn batchButton" type="button" value="{$lang.drop}" uri="index.php?app=coupon&amp;act=youhui_drop&amp;id={$user.coupon_id}" presubmit="confirm('{$lang.drop_confirm}');" />
	   <!--{/if}-->
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
 
</div>
{include file="footer.html"}