{include file="header.html"}

<div id="rightTop">
    <p>供货管理</p>
    <ul class="subnav">
		<li><a class="btn3" href="index.php?app=gonghuo">管理</a></li>
		<li><span>供货未审核</span></li>
        {if $priv_row.privs=="all"}
        <li><a a class="btn3" href="index.php?app=gonghuo&act=ghsq">供货商申请</a></li>
        <li><a a class="btn3" href="index.php?app=gonghuo&act=sq_weishenhe">申请人待审核</a></li>
        {/if}
	   <!-- <li><a class="btn3" href="index.php?app=gonghuo&act=add">我要供货</a></li>-->
		
    </ul>
</div>

<div class="mrightTop">
    <div class="fontl">
       
    </div>
    <div class="fontr">

    </div>
</div>

<div class="tdare">
    <table width="100%" cellspacing="0">
<!--{if $gonghuo}-->
        <tr class="tatr1">
         <!--   <td width="20" class="firstCell"><input id="checkall_1" type="checkbox" class="checkall"/></td>-->
			<td align="left" style="width:350px">商品名称</td>
			<td align="center">商品品牌</td>
			<td class="table-center">零售价</td>
            <td>状态</td>
			<td>所属站</td>
            <td class="handler">操作</td>
        </tr>

        <!--{foreach from=$gonghuo item=val key=key}-->
        <tr class="tatr2">
           <!-- <td width="20" class="firstCell">
            <input type="checkbox" class="checkitem" value="{$key}" />
            </td>-->
		  <td align="left"><font color="#FF0000">&nbsp;{$val.goods_name}</font></td>
		  <td align="center"><font color="#FF0000">&nbsp;{$val.goods_brand}</font></td>
		  <td class="table-center"><font color="#FF0000">&nbsp;{$val.lingshou_price}</font></td>
		  <td><font color="#FF0000">&nbsp;
          {if $val.status==3}{$lang.daishenhe}{/if}
          {if $val.status==1}{$lang.shenhetongguo}{/if}
          {if $val.status==2}{$lang.shenhebutongguo}{/if}
          </font></td>
			<td><font color="#FF0000">&nbsp;
			  {$val.city_name}
			</font></td>

            <td class="handler">
			{if $priv_row.privs=="all"}
				{if $val.chushen_status==3}
				等待初审
				{else}
			    <a href="index.php?app=gonghuo&act=gh_shenhe&id={$val.gh_id}&user_id={$val.user_id}">审核</a>
				{/if}
			{else}
				{if $val.chushen_status==3}
				<a href="index.php?app=gonghuo&act=gh_shenhe&id={$val.gh_id}&user_id={$val.user_id}">审核</a>
				{else}
			   已审核
				{/if}
			{/if}		
			
			 
			</td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="8">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <!--{if $gonghuo}-->
<div id="dataFuncs">
    <div id="batchAction" class="left paddingT15">
   
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
  <!--{/if}-->
    <!--{/if}-->
</div>
{include file="footer.html"}