{include file="header.html"}
<div id="rightTop">
  <p>—˚«Î∫√”—</p>
  <ul class="subnav">
    <li><span>{$lang.manage}</span></li>
   <!-- <li><a class="btn1" href="index.php?app=user&amp;act=add">{$lang.add}</a></li>-->
  </ul>
</div>

<div class="mrightTop">
  <div class="fontl">
    <form method="get">
       <div class="left">
          <input type="hidden" name="app" value="invite" />
          <input type="hidden" name="act" value="index" />
          {$lang.invite}:
          <input type="type" name="yaoqing" value="<?php echo $_GET["yaoqing"];?>" />
          {if $priv_row.privs=="all"}
          {$lang.city}:
          <select class="querySelect" name="suoshuzhan">
            <option value="">{$lang.select_pls}</option>
            {foreach from=$result item=val}
            <option value="{$val.city_id}">{$val.city_name}</option>
            {/foreach}
          </select>
          {/if}
          <input type="submit" class="formbtn" value="{$lang.query}" />
      </div>
      <!--{if $filtered || $sort}-->
      <a class="left formbtn1" href="index.php?app=invite">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
   
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
  
    <tr class="tatr1">
      <td width="20" class="firstCell"><!--<input type="checkbox" class="checkall" />--></td>
      <td>{$lang.yonghuming}</td>
       <td><span ectype="order_by" fieldname="last_login">{$lang.invite}</span></td>
      <td><span ectype="order_by" fieldname="email">{$lang.email}</span></td>
     <!-- <td>{$lang.imm}</td>-->
      <td><span ectype="order_by" fieldname="reg_time">{$lang.time}</span></td>
	  <td><span ectype="order_by" fieldname="reg_time">À˘ Ù’æ</span></td>
     
     <!-- <td class="handler">{$lang.handler}</td>-->
    </tr>

	
    <!--{foreach from=$index item=user}-->
    <tr class="tatr2">
      <td class="firstCell"></td>
      <td>&nbsp;{$user.user_name|escape}</td>
      <td>&nbsp;{$user.yaoqing_id}</td>
      <td>&nbsp;{$user.email|escape}</td>
      <td>&nbsp;{$user.reg_time|date}</td>
	  <td>&nbsp;
	  {$user.city_name}
	  </td>
     
	  
     
      <!--<td class="handler">
      <span style="width: 100px">
      <a href="index.php?app=user&amp;act=edit&amp;id={$user.user_id}">{$lang.edit}</a> | <a href="javascript:drop_confirm('{$lang.drop_confirm}', 'index.php?app=user&amp;act=drop&amp;id={$user.user_id}');">{$lang.drop}</a>
        <!-- {if $user.store_id} -->
       <!-- | <a href="index.php?app=store&amp;act=edit&amp;id={$user.store_id}" onclick="parent.openItem('store_manage', 'store');">{$lang.store}</a>-->
        <!-- {/if} -->
    <!--  </span>
      </td>-->
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
	
	
	
  </table>
 
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
       <!--{if $users}--><input class="formbtn batchButton" type="button" value="{$lang.drop}" name="id" uri="index.php?app=user&act=drop" presubmit="confirm('{$lang.drop_confirm}');" /> <!--{/if}-->
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
 
</div>
{include file="footer.html"}