{include file="header.html"}

<style> 
.ovrit 
{ 
background: #FFCC33; 
} 
.cross 
{ 
background: #FF0000; 
} 

.titl 
{ 
background: #f0f0f0; 
} 
</style>
<div id="rightTop">
    <p>费率管理</p>
    <ul class="subnav">
		<li><a class="btn3" href="index.php?module=my_money&act=tixianfeilv_xiugai">提现费率</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=chongzhifeilv_xiugai">充值费率</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=duihuanjifenfeilv_xiugai">兑换积分费率</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=duihuanxianjinfeilv_xiugai">兑换现金费率</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=tuijianjiangli">推荐奖励现金</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=tuijianjianglishuishou">奖励现金税收</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=tuijianjifen">推荐奖励积分</a></li>
		<li><a class="btn3" href="index.php?module=my_money&act=tuijianjifenshuishou">奖励积分税收</a></li>
		<li><a class="btn3" href="index.php?app=groupbuy&act=tg_fei">团购费用</a></li>
		<li><span>团购保证金</span></li>
		<li><a class="btn3" href="index.php?module=my_money&act=index">返回导航</a></li>
    </ul>
</div>

<div class="info">

            <table class="infoTable">
    <form method="post">
            <tr>
                <th class="paddingT15">团购保证金</th>
                <td class="paddingT15 wordSpacing5">
				<input name="tg_baozhengjin" type="text" value="<!--{foreach from=$log item=val}-->{$val.tg_baozhengjin}<!--{/foreach}-->" size="20">
				</td>
            </tr>
           
            



<div id="time_from2">

</div>
</td>
            </tr>
	
            <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
            </tr>
    </form>


      </table>	
</div>
{include file="footer.html"}