{include file="header.html"}
<script type="text/javascript">
//<!CDATA[
$(function(){
    $('#share_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        rules : {
            title : {
                required : true,
                maxlength: 100
            },
            link  : {
                required : true
            },
            logo  : {
                accept : 'png|jpe?g|gif'
            },
            sort_order : {
                number   : true
            }
        },
        messages : {
            title : {
                required : '{$lang.title_required}',
                maxlength: '{$lang.title_maxlength_error}'
            },
            link  : {
                required : '{$lang.link_required}'
            },
            logo  : {
                accept   : '{$lang.logo_accept_error}'
            },
            sort_order  : {
                number   : '{$lang.number_only}'
            }
        }
    });
});
//]]>
</script>
<div id="rightTop">
    <p>投诉管理</p>{$build_editor}
    <ul class="subnav">
       <li><a class="btn3" href="index.php?app=tousu">管理</a></li>
		<li><a class="btn1" href="index.php?app=tousu&amp;act=ts_weishenhe">投诉未审核</a></li>
	  <!--  <li><a class="btn3" href="index.php?app=gonghuo&act=add">我要供货</a></li>-->
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="share_form">
        <table class="infoTable">
		<tr><th><font color="#990000" size="+1">买家投诉：</font></th></tr>
            <tr>
                <th class="paddingT15">
                    投诉人:</th>  
                <td class="paddingT15 wordSpacing5">{$com.complainant}({$com.complainant_id})
                    <!--<input class="infoTableInput2" id="complainant" type="text" name="complainant" value="" readonly="true"/>-->
                </td>
            </tr>
            <tr>
                <th class="paddingT15">
                    被投诉人:</th> 
                <td class="paddingT15 wordSpacing5">
                {$com.respondent}({$com.respondent_id})
			   <!-- <input class="infoTableInput2" id="respondent" type="text" name="respondent" value="" readonly="true"/>-->
                  
                </td>
            </tr> 
            <tr>
                <th class="paddingT15">
                   投诉主题:</th> 
                <td class="paddingT15 wordSpacing5">
                {$com.title}
                <!--<input class="infoTableInput2" id="title" type="text" name="title" value=""  readonly="true"/>   -->
                </td>
            </tr>
			 <tr>
                <th class="paddingT15">
                  投诉商品:</th> 
                <td class="paddingT15 wordSpacing5">
                <table>
				<tr><th></th><th align="center">商品信息</th><th align="left">数量</th><th align="left">积分价</th>
				</tr>
				<!--{foreach from=$or item=val}-->
				<tr>
				<td><a href="/index.php?app=goods&id={$val.goods_id}" target="_blank"><img src="/{$val.goods_image}" width="100"/></a></td><td align="center">{$val.goods_name}<br />  {$val.specification}</td><td align="left">{$val.quantity}</td><td align="left">{$val.jifen}</td>
				 </tr>
				 <!--{/foreach}--> 
				 </table>
				</td>
            </tr>
			<tr>
                <th class="paddingT15">
                  投诉内容:</th> 
                <td class="paddingT15 wordSpacing5">{$com.content}
					<!--<textarea id="beizhu" readonly="readonly" cols="25" rows="10">
				</textarea>-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  投诉证据:</th> 
                <td class="paddingT15 wordSpacing5">
				
                   <!--{if $com.imag_1}--><a href="/{$com.imag_1}" target="_blank"><img src="/{$com.imag_1}" width="100"/></a> <!--{/if}--><br />
				   <!--{if $com.imag_2}--><a href="/{$com.imag_2}" target="_blank"><img src="/{$com.imag_2}" width="100"/></a><!--{/if}--><br />
				   <!--{if $com.imag_3}--><a href="/{$com.imag_3}" target="_blank"><img src="/{$com.imag_3}" width="100"/></a><!--{/if}-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  投诉时间:</th> 
                <td class="paddingT15 wordSpacing5">{$com.time|escape}
	<!--<input class="infoTableInput2" id="time" type="text" name="time" value=""  readonly="true" size="14"/>-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  买家备注:</th> 
                <td class="paddingT15 wordSpacing5">{$com.beizhu}
				<!--<textarea id="beizhu" name="beizhu" readonly="readonly" cols="25" rows="10">
				</textarea>-->
                </td>
            </tr>
			 <tr><th></th><td></td></tr>
             <tr><th></th><td></td></tr>
			<!--{if $shs}-->
			<tr><th><font color="#990000" size="+1">卖家申诉:</font></th></tr>
			     <tr>
                <th class="paddingT15">
                    申诉人:</th>  
                <td class="paddingT15 wordSpacing5">{$shs.complainant}({$shs.complainant_id})
              <!--<input class="infoTableInput2" id="complainant" type="text" name="complainant" value="" readonly="true"/>-->
                </td>
            </tr>
            <tr>
                <th class="paddingT15">
                    被申诉人:</th> 
                <td class="paddingT15 wordSpacing5">{$shs.respondent}({$shs.respondent_id})
				<!-- <input class="infoTableInput2" id="respondent" type="text" name="respondent" value="" readonly="true"/>-->
                  
                </td>
            </tr> 
			<tr>
                <th class="paddingT15">
                  申诉内容:</th> 
                <td class="paddingT15 wordSpacing5">{$shs.content}
			<!--<textarea id="beizhu" readonly="readonly" cols="25" rows="10">
				</textarea>-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  申诉证据:</th> 
                <td class="paddingT15 wordSpacing5">
				
                   <!--{if $shs.imag_1}--><a href="/{$shs.imag_1}" target="_blank"><img src="/{$shs.imag_1}" width="100"/></a> <!--{/if}--><br />
				   <!--{if $shs.imag_2}--><a href="/{$shs.imag_2}" target="_blank"><img src="/{$shs.imag_2}" width="100"/></a><!--{/if}--><br />
				   <!--{if $shs.imag_3}--><a href="/{$shs.imag_3}" target="_blank"><img src="/{$shs.imag_3}" width="100"/></a><!--{/if}-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  申诉时间:</th> 
                <td class="paddingT15 wordSpacing5">{$shs.time}
	<!--<input class="infoTableInput2" id="time" type="text" name="time" value=""  readonly="true" size="14"/>-->
                </td>
            </tr>
			<tr>
                <th class="paddingT15">
                  卖家备注:</th> 
                <td class="paddingT15 wordSpacing5">{$shs.beizhu}
				<!--<textarea id="beizhu" name="beizhu" readonly="readonly" cols="25" rows="10">
				</textarea>-->
                </td>
            </tr>
            <tr><th></th><td></td></tr>
 			<tr><th></th><td></td></tr>
			<!--{/if}-->
			<tr><th><font color="#990000" size="+1">平台处理:</font></th></tr>
			<tr>
			<th><font color="#0000CC">是否审核</font></th>
			<td><input type="radio" name="status1" value="0" checked="checked"/><font color="#0000CC">否</font>&nbsp;&nbsp;&nbsp;
			<input type="radio" name="status1" value="1" /><font color="#0000CC">是</font><br /></td>
			</tr>
			<tr>
                <th class="paddingT15">
                  平台处理意见:</th> 
                <td class="paddingT15 wordSpacing5">
				<textarea id="yijian" name="yijian" cols="25" rows="10">
				{$com.yijian}
				</textarea>
                </td>
            </tr>
			<tr></tr>
			<tr>
			<th></th>
		<td><input type="submit" value="提交" />&nbsp;&nbsp;<input type="reset" value="重置" /></td>
			</tr>

        </table>
    </form>
</div>
{include file="footer.html"}
