{include file="header.html"}
<div id="rightTop">
  <p>店铺流水</p>
  <ul class="subnav">
    <li><a class="btn3" href="index.php?app=sgrade&act=storelog">店铺收款流水</a></li>
    <li><span>店铺消保流水</span></li>
  </ul>
</div>

<div class="mrightTop">
  <div class="fontl">
    <form method="get">
       <div class="left">
          <input type="hidden" name="app" value="sgrade" />
          <input type="hidden" name="act" value="xiaobaolog" />
          店铺名:
          <input type="type" name="storename" value="<?php echo $_GET["storename"];?>" />
         
          {$lang.suoshuzhan}:
          <select class="querySelect" name="suoshuzhan">
            <option value="">{$lang.select_pls}</option>
            {foreach from=$result item=val}
            <option value="{$val.city_id}">{$val.city_name}</option>
            {/foreach}
          </select>
        
          <input type="submit" class="formbtn" value="{$lang.query}" />
      </div>
      <!--{if $storename || $suoshuzhan }-->
      <a class="left formbtn1" href="index.php?app=sgrade&act=xiaobaolog">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
   
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">

  <table width="100%" cellspacing="0" class="dataTable">
 
    <tr class="tatr1">
      <td width="20" class="firstCell"></td>
      <td>店铺id</td>
      <td><span ectype="order_by" fieldname="email">店铺名</span></td>
      <td><span ectype="order_by" fieldname="reg_time">消保金额</span></td>
      <td><span ectype="order_by" fieldname="reg_time">操作时间</span></td>
      <td><span ectype="order_by" fieldname="reg_time">所属站</span></td>
   
    </tr>
     <!--{foreach from=$index item=user}-->
    <tr class="tatr2">
      <td class="firstCell"></td>
      <td>&nbsp;{$user.store_id}</td>
      <td>&nbsp;{$user.store_name}</td>
      <td>&nbsp;
     {$user.money}元
      </td>
      <td>&nbsp;
      {$user.riqi}
     </td>
	  <td>&nbsp;
	  {$user.city_name}
	  </td>
      </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
      <!--{/foreach}-->
  </table>

  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
       <!--{if $users}--><input class="formbtn batchButton" type="button" value="{$lang.drop}" name="id" uri="index.php?app=user&act=drop" presubmit="confirm('{$lang.drop_confirm}');" /> <!--{/if}-->
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
 
</div>
{include file="footer.html"}